<% cache @article do %>
  <div class='articles'>
    <div class='article-form'></div>
    <article class='article'>
      <header>
        <h1><%= @article.title %></h1>
      </header>
      <section>
        <div class='article-text' data-article-uuid=<%=@article.uuid%> >
          <%= @article.full_text %>
        </div>
      </section>
    </article>
    <aside class='aside-annotations'>
      <% cache @annotations do %>
      <% end %>
    </aside>
    <footer class='bottom-links'>
      <%= link_to('back to search', root_url(), class: 'articles-list-link')%>
    </footer>
  </div>
<% end %>
