.wrapper {
  display: grid;
  width: 100vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
  // grid-auto-rows: 16rem;
  grid-template-areas: 
    "t t t t"
    ". m m ."
    ". m m ."
    "b b b b";
}