.wrapper {
  position: absolute;
  display: grid;
  width: 100vw;
  grid-template-columns: 10%, auto, auto,10%;
  grid-template-rows: auto;
  grid-gap: 1rem;
  grid-template-areas: 
    "t t t t"
    ". m m ."
    ". m m ."
    "b b b b";
}

.side-nav-grid {
  display: grid;
  grid-template-columns: 10%, auto ,10%;
  grid-template-rows: auto;
  grid-gap: 1rem;
  grid-template-areas: 
    ". n . "
    ". n . "
    ". . . ";
}