$primary-color: #00080C;
$secondary-color: #4EB9FF;
$yellow: #FFCE47;
$magenta: #FF4181;
$white: #fff;
body {
  background-color: $white
}
main {
  padding: 2rem 0 2rem 0;
}

.content {
  margin: 4rem 0 0 0;
}

.articles, .publications {
  grid-area: m;
}
.articles-list {
  li {
    font-size: 1.5em;
  }
}
.articles-list-link {
  margin-left: 1em;
}

.bottom-links {
  font-weight: 400;
  min-height: 2rem;
  padding: 0.5rem;
  grid-area: b;
}
.flash {
  grid-area: t;
  padding-top: 1rem;
  display: inline-block;
  line-height: 1.5rem;
  text-align: center;
  button {
    font-size: 2rem;
    color: $white;
  }
}
.flash {
  color: $white;
}
.flash.success, .notice {
  background-color: $secondary-color;
}
.flash.alert {
  background-color: $yellow;
}

.flash.error {
  background-color: $magenta;
}

button.button.dismiss-flash:hover {
  color: $white;
}

nav {
  color: $primary-color;
  height: 3rem;
  width: 100vw;
}
.nav-container{
  height: 3rem;
  max-width: 1000px;
  padding: 2rem 0 2rem 0;
  margin: 0 auto;
}
nav .logo {
  float: left;
  margin-left: 5rem;
  height: 4rem;
}
nav p {
  padding-left: 2rem;
  line-height: 3rem;
  font-size: 3rem;
  font-weight: 400;
  display: inline-block;
}
nav .nav-links { 
  float: right;
  ul { 
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }
  li { 
    list-style: none;
    padding: 0; 
    display: inline; 
  }
  li a {
    color: $primary-color;
    line-height: 3rem;
    margin:0 1rem;
  }
  li a:hover {
    color: #311B92;
  }
}
