$primary-color: #00080C;
$secondary-color: #4EB9FF;
$yellow: #FFCE47;
$magenta: #FF4181;
$white: #fff;
body {
  background-color: $white
}

main {
  padding: 0 0 2rem 0;
}

.turbolinks-progress-bar {
  height: 1rem;
  background-color: $magenta;
}

.content {
  margin: 4rem 0 0 0;
}
.search-background {
  z-index: -1;
  grid-row-start: m-start;
  grid-column-start: 1;
  grid-column-end: 5;
  height: 45rem;
  background: linear-gradient(to right, $secondary-color, #4EB9FF, #429cd6, #426bd6);
  transform: translateY(-10rem) skewY(2deg);
  transform-origin: top right;
}

.new_articles_search_form {
  margin-top: 3rem;
}

.article {
  max-width: 80vw;
}
.articles, .publications {
  z-index: 1;
  grid-area: m;
}
.articles-list {
  li {
    font-size: 1.5em;
  }
}
.articles-list-link {
  margin-left: 1em;
}

.bottom-links {
  font-weight: 400;
  min-height: 2rem;
  padding: 0.5rem;
  grid-area: b;
}
.flash {
  grid-area: t;
  padding-top: 1rem;
  display: inline-block;
  line-height: 1.5rem;
  text-align: center;
  button {
    font-size: 2rem;
    color: $white;
  }
}
.flash {
  color: $white;
}
.flash.success, .notice {
  background-color: $secondary-color;
}
.flash.alert {
  background-color: $yellow;
}

.flash.error {
  background-color: $magenta;
}

button.button.dismiss-flash:hover {
  color: $white;
}