nav {
  background-color: $white;
  color: $primary-color;
  height: 7rem;
  width: 100vw;
}
.nav-container{
  height: 7rem;
  max-width: 75%;
  margin: 0 auto;
}
nav .logo {
  margin-top: 1.75rem;
  margin-left: 8rem;
  height: 4rem;
  float: left;
}
nav p {
  margin-top: 2rem;
  padding-left: 2rem;
  line-height: 3rem;
  font-size: 3rem;
  font-weight: 400;
  position: relative;
  vertical-align: top;
  float: left;
}
nav .nav-links { 
  float: right;
  vertical-align: top;
  ul { 
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
  }
  li {
    list-style: none;
    display: inline-block; 
    height: 7rem;
    background-color: $white;
    padding: 0 1rem 0 1rem;
    margin-bottom: 0;
    a { 
      font-weight: 400;
      line-height: 7rem;
      color: $primary-color; 
    } 
  }
  li:hover {
    background-color: $primary-color; 
    a { color: $white; }
  }
}
@media only screen 
and (min-device-width: 741px) 
and (max-device-width: 980px) {
  .nav-container{
    width: 90vw;
    max-width: 90%;
  }
}
@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 740px) 
and (-webkit-min-device-pixel-ratio: 2){
  nav {
    height: 9rem;
  }
  
  .nav-container{
    height: 10rem;
    width: 100vw;
    margin: 0;
    max-width: 100%;
  }

  nav .logo {
    margin-top: 3rem;
    height: 4rem;
    float: left;
    margin-left: 4.5rem;
  }

  nav p {
    margin-top: 3.5rem;
    font-size: 3rem;
    float: left;
  }
  nav button.nav-toggle {
    float: left;
    visibility: visible;
    margin-left: 3rem;
    width: 4rem;
    height: 100%;
    padding: 0;
  }

  nav .nav-toggle svg {
    height: 6rem;
  }

  nav .mobile-menu {
    background-color: $primary-color;
    z-index: 9999;
    position: fixed;
    height: 100vh;
    width: 20em;
    top: 0;
    left: -20em;
  }

  nav ul.side-nav-list {
    grid-area: n;
    width: 100%;
    padding-top: 7rem;
  }
  nav li.side-nav-link {
    height: 10rem;
    a {
      line-height: 10rem;
      font-size: 4rem;
      color: $white;
    }
  }

  nav .mobile-menu.active {
    visibility: visible;
    transform: translateX(20em);
    -webkit-transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
  }
  nav .mobile-menu.slide-back {
    visibility: visible;
    transform: translateX(-20em);
    -webkit-transition: transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
  }
}