<nav role='navigation'>
  <div class='nav-container'>
    <%= link_to(root_url, class: 'logo-link', 'arial-label': 'home') do %>
      <%= image_tag('ink.svg', class: 'logo', alt: 'logo, ink drops') %>
    <% end %>
    <p>ink stream</p>
    <div class='nav-links'>
      <ul>
        <li>
          <%- if user_signed_in? %>
            <%= link_to('sign out', destroy_user_session_path, method: :delete, 'arial-label': 'sign out')%>
          <%- else %>
            <%= link_to('sign in', new_user_session_path, 'arial-label': 'sign in')%>
          <% end %>
          </li>
      </ul>
    </div>
  </div>
</nav>